fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
httpx
sqlmodel
asyncpg
alembic
apscheduler
redis
celery
python-jose[cryptography]
bcrypt==4.0.1
aiosmtplib
pytest
pytest-asyncio
pytest-mock
aiosqlite