@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/free-mode";

@theme {
  --ab-body-bg: #ffffff;
  --ab-body-secondary: #f7f7f7;
  --ab-card-primary: #f7f7f7;
  --ab-primary: #f9b707;
  --ab-secondary: #fe9500;
  --ab-title-text: #000411;
  --ab-body-text: #848484;
  --ab-button-validate: #1aa053;
  --ab-button-cancel: #020716;

  --color-background: var(--ab-body-bg);
  --color-surface: var(--ab-body-secondary);
  --color-card: var(--ab-card-primary);

  --color-primary: var(--ab-primary);
  --color-secondary: var(--ab-secondary);

  --color-foreground: var(--ab-title-text);
  --color-muted: var(--ab-body-text);

  --color-success: var(--ab-button-validate);
  --color-danger: var(--ab-button-cancel);

}


.dark {
  --ab-body-bg: #000411;
  --ab-body-secondary: #020716;
  --ab-card-primary: #050c21;
  --ab-title-text: #ffffff;
  --ab-body-text: #b3b3c0;
}